.link-style{
  text-decoration: none;
}

.link-image{
  width: 10rem;
  height: 10rem;
}

.link-style img {

  transition: transform 0.3s ease-in-out;

}

.link-style:hover img {

  transform: scale(1.1); /* Increases size by 10% */

}